<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

   <link rel="stylesheet" type="text/css" href="{% static 'css/first.css' %}">
</head>
<body>
    <center>
        <div class=>
            <p>This is the login page</p>
            <div class="">
                <p>Row Class</p>
                <div></div>
            </div>
        </div>
        <div class="container-fluid">
            <h1>Login Page</h1>
        </div>
        <br>
        <div class="container-low">
            Username: <input type="text" id="uname"><br><br>
            Password: <input type="password" id="pswrd"><br><br>
            Full Name: <input type="text" id="fulnm"><br><br>
            Age: <input type="text" id="age"><br><br>
            Address: <input type="text" id="address"><br><br>
        </div>
        <button type="button" class="btn btn-primary"onclick="alert('Hello, this is Shambu, from Dholakpur')">Hello</button><br><br>
        <input type="submit" name="Submit">
    </center>
</body>
</html>