<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        p{
            color: rgb(255, 157, 127);
            text-align: center;
            border: 2px solid orangered;
        }
        h1{
            border: 3px solid blue;
        }
        body{
            background-color: black;
        }
    </style>
    <title>tmepo</title>
</head>
<body>
    <h1 style="color: blueviolet; text-align:center">Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ex sapiente consequatur labore explicabo iure voluptate. Iste, doloremque, quaerat esse quas aliquam autem dicta tenetur, nesciunt at consequuntur accusantium excepturi?</p>
</body>
</html>